
.background-container {
  position: relative;
  height: 77vh;
  background-image: url('../../img/MachineryInventory.png');
  background-size: cover;
}

.title-container {
  padding-top: 8rem;
}

.title-container h1 {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
}

.title-container h2 {
  color: #dfd4b3;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
}